<div class="navbar-style row-style">
    <div class="row-style cursor" routerLink="/">
        <img src="./../../assets/abricotier.png" height="100px" style="margin-top: -15px; margin-left: -25px;">
        <h1 class="sherif-Sans" style="margin-left: -15px" >Normi</h1>
    </div>
    <div class="row-style">
        <select class="sherif-Sans dropbox" style="margin-right: 2px;">
            <option selected disabled hidden>Contact</option>
            <option (click)="openLink('https://github.com/Just1truc')">Github</option>
            <option (click)="openLink('https://www.linkedin.com/in/justin-duc-51b09b225/')">linkedin</option>
            <option (click)="openLink('mailto:justin.duc@epitech.eu')"> Mail</option>
        </select>
    </div>
</div>
